george/*
george/simpleWorldSystems/*
george/simpleWorldSystems_v1/*
george/worldOrder_netLogo/*.mov
george/worldOrder_netLogo/worldOrder_experiment-spreadsheet.csv
george/worldOrder_netLogo/worldOrder_experiment-spreadsheet2.csv
workingPaper/*
proposal/*