george/*
proposal/*
simpleWorldSystems/*
simpleWorldSystems_v1/*
workingPaper/*
worldOrder_netLogo/test3.mov
worldOrder_netLogo/world_order.mov
worldOrder_netLogo/worldOrder_experiment-spreadsheet.csv
worldOrder_netLogo/worldOrder_experiment-spreadsheet2.csv
