*.log
*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.bak
*.pptx
*.sublime-project
*.sublime-workspace
*.mp4
ClarenceDillon_dissertationProposal.tex
ClarenceDillon_dissertationProposal_2015-12-2.tex
ClarenceDillon_dissertationProposal-CCRedited160324.tex
ClarenceDillon_dissertationProposal-working.tex
ClarenceDillon_proposal-CCR.tex
defense-beamer*.toc
defense-beamer*.log
defense-beamer*.aux
defense-beamer*.nav
defense-beamer*.out
defense-beamer*.snm
defense-beamer*.synctex.gz
defense-beamer*.toc